{% extends "layout.html"  %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% include "_messages.html" %}
            {% if updatebrand %}
            <h1 class="text-center mt-5" >Update a brand</h1>
            <form action="" method="POST">
                <input type="text" name="brand" class="form-control" value="{{updatebrand.name}}">
                <input type="submit" value="Update brand" class="btn btn-info mt-2">
                <td><a href="/brands" class="btn btn-dark mt-2">Cancel</a></td>
            </form>
            {% endif %}
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock content %}