{% extends "layout.html" %}

{% block content %}

<div class="container">
    {% from "_formhelpers.html" import render_field %}
        <div class="col-md-4"></div>
        <div class="col-md-4">
    <div class="text-center h1 text-danger">Login</div>
    {% include '_messages.html' %}
    <form method="post" enctype="multipart/form-data">
    <dl>
        {{ render_field(form.email ,class="form-control") }}
        {{ render_field(form.password ,class="form-control") }}
    </dl>
    <input type="submit" value="Login" class="btn btn-info mt-2">
    <td><p>Don't have an account?<a href="/register"> Register Now!</a></p></td>
    </form>
    </div>
    <div class="col-md-4"></div>

</div>

{% endblock content %}